audiostretchy==1.3.5
demucs==4.0.1
librosa
loguru==0.7.2
modelscope==1.10.0
moviepy==1.0.3
numpy==1.23.1
openai==0.28.0
paddlespeech==1.4.1
pydub==0.25.1
python-dotenv==1.0.0
Requests==2.31.0
scipy==1.11.4
tqdm==4.64.1
git+https://github.com/m-bain/whisperx.git
